
.home-container {
  top: 8vh;
  padding: 20px;
}

.home-hero, .home-introduction, .home-getting-started, .home-tools,
.home-advanced-usage, .home-programming, .home-community {
  padding: 40px 20px;
}

.home-hero {
  background: linear-gradient(120deg, #ffa200, #ffc64b);
  color: white;
  text-align: center;
  border-radius: 50px;
}

.home-hero h1 {
  font-size: 3em;
}

section h2 {
  color: #ff8541;
  margin-top: 20px;
  font-size: 2em;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #666;
}

/* Darkmode Styles START */
.dark-mode .home-hero {
  background: linear-gradient(to right, #00145D, #0026B9);
  color: #ffffff;
}

.dark-mode section h2 {
  color: #0026B9;
}

.dark-mode p {
  color: #ffffff;
}

.dark-mode .home-container {
  background-color: #000000;
}

.dark-mode .home-hero h1,
.dark-mode section h2 {
  color: white;
}
/* Darkmode Styles END */
