.article-para {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
}

.article-title {
    font-family: 'Roboto', sans-serif;
    color: #ff8541; /* Orange Farbe für Überschriften */
    margin-top: 20px;
    font-size: 3em;
}

.article-subtitle {
    font-family: 'Roboto', sans-serif;
    color: #ff8541; /* Orange Farbe für Überschriften */
    margin-top: 20px;
    font-size: 2em;
}

.article-image {
    border-radius: 10px;
    width: 50%;
    box-shadow: 2px 2px 5px 5px rgb(113 108 108 / 30%);
}

.article-code {
    color: rgb(255, 255, 255);
    padding: 10px;
}

.article-code-div {
    display: flex;
    justify-content: space-between;
    background-color: rgb(26, 25, 25);
    border-radius: 10px;
    width: 80%;
    padding: 0%;
}
.article-code-copy {
    height: auto;
}
.article-code-image {
    padding: 10px;
}
.article-code-image:hover {
    background-color: rgb(45, 44, 44);
    border-radius: 10px;
    cursor: pointer;
}