.home-footer {
    height: 10vh;
    width: 100vw;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
  }
  
  /* Darkmode Style START */
  .dark-mode .home-footer {
    background-color: #000000;
    color: #ffffff;
  }
  /* Darkmode Style END */
  