@keyframes grow {
    from {
        transform: scaleY(0);
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

header {
    background: linear-gradient(99deg, #ffa200 14.7%, #feb81f 73%);
    width: 100%;
    height: 10vh;
    min-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-block {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 6vh;
    height: auto;
    margin-top: 1vh;
    margin-left: 6vh;
    position: absolute;
    top: 10px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    transition: transform 200ms;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.search-icon {
    width: 30px;
    height: auto;
    min-width: none;
    color: white;
}

.title-section {
    height: 100%;
    position: absolute;
    top: 0;
    left: 16vh;
    color: white;
    text-shadow: 0 0 2px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    font-family: "Impact", serif;
    font-size: xx-large;
}

.logo-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-position {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-section {
    height: 100%;
    position: absolute;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

input {
    border: none;
    outline: none;
    height: 34px;
    border-radius: 22px;
    width: 220px;
    margin-right: 10px;
    color: white;
    padding-left: 40px;
    font-family: "Impact", serif;
    background: linear-gradient(109.6deg, rgb(255, 194, 48) 11.2%, rgb(255, 124, 0) 100.2%);
    box-shadow: 0 4px 6px rgba(0.2, 0, 0, 0.2);
    /* Schatten */
}

:placeholder-shown {
    color: white;
    font-family: "Impact", serif;
}

.find-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.search-dropdown {
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white;
    position: absolute;
    font-family: "Impact", serif;
    background: linear-gradient(to right, #FF6347, #FFA500);
    border: 0;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 60px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    transform-origin: top;
    animation: grow 0.5s ease-out forwards;
}

.search-result {
    padding: 10px;
    cursor: pointer;
}

.search-result:hover {
    background-color: rgba(0, 0, 0, .2);
}

.search-dropdown::-webkit-scrollbar {
    width: 12px;
}

/* Customize scrollbar track */
.search-dropdown::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}

/* Customize scrollbar thumb */
.search-dropdown::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

/* Customize scrollbar thumb on hover */
.search-dropdown::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Customize scrollbar corner */
.search-dropdown::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
    max-height: 30%;
}

/*  Darkmode Styles START */
.dark-mode header {
    background: linear-gradient(99deg, #00145D 14.7%, #0026B9 73%);
}

.dark-mode input {
    background: linear-gradient(109.6deg, #0026B9 11.2%, #00145D 100.2%);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, .3);
}

.dark-mode .search-dropdown {
    background: linear-gradient(to right, #0026B9, #0026B9);
    box-shadow: 0 2px 5px rgba(255, 255, 255, .2);
}

.dark-mode .logo {
    box-shadow: 2px 2px 8px rgba(255, 255, 255, .5);
}

.dark-mode .title-section {
    text-shadow: 0 0 3px white;
}

/*  Darkmode Styles END */

.toggle_darkmode {
    height: 40px;
    color: white;
    z-index: 9999;
    margin-right: 20%;
    background-color: orange;
    border: 3px solid orange;
    border-radius: 10px;
    box-shadow: 1px 1px 5px white;
    text-shadow: 0 0 1px white;
    transition: background-color 250ms, border 250ms, border-radius 250ms, text-shadow 200ms, box-shadow 200ms, color 200ms;
}

.toggle_darkmode:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    border: 3px solid orange;
    text-shadow: 0 0 1px orange;
    box-shadow: 1px 1px 10px orange;
    color: orange;
}

.dark-mode .toggle_darkmode {
    color: #000000;
    background-color: #0026B9;
    border: 3px solid #000000;
    box-shadow: 1px 1px 5px #000000;
    text-shadow: 0 0 1px #000000;
}

.dark-mode .toggle_darkmode:hover {
    background-color: #000000;
    border: 3px solid #0026B9;
    text-shadow: 0 0 1px #0026B9;
    box-shadow: 1px 1px 10px #0026B9;
    color: #0026B9;
}