.sidebar {
  width: 330px;
  background: #ffffff;
  overflow-y: auto;
  height: calc(100vh - 60px);
  padding: 20px 0 0 0;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 12vh;
  border-right: 1px solid #e0e0e0; /* Subtiler rechter Rand */
  z-index: 1000; /* Stellt sicher, dass die Sidebar über anderen Inhalten bleibt */
  font-family: 'Roboto', sans-serif; /* Roboto als Standardschrift */
  font-weight: 500; /* Mittlere Schriftstärke */
  transition: transform 0.3s ease;

}

.sidebar.closed {
  transform: translateX(-330px); /* Verschiebt die Sidebar aus dem sichtbaren Bereich */
  top: 10vh;
  border-right: 1px solid #e0e0e0;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.menu-item, .submenu-item {
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 5px;
}

.nested-menu {
  padding-left: 20px;
  border-left: 2px solid #e0e0e0;
}

.menu-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu-item a, .submenu-item a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  transition: color 0.3s, transform 0.3s;
}

.menu-item a:hover, .submenu-item a:hover {
  background: linear-gradient(99deg, rgb(255, 166, 0) 14.7%, rgb(255, 99, 97) 73%);
  color: #ffffff; /* Weißer Text beim Hover */
  transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
  border-radius: 5px; /* Runde Ecken beim Hover */
  font-weight: bold;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  width: auto;
}

.sidebar-logo img {
  max-width: 150px;
  height: auto;
  border-radius: 100px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.sidebar-logo img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .sidebar-logo img {
    max-width: 80px;
  }

  .sidebar-logo img:hover {
    transform: scale(1.05);
  }
}

.sidebar-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #333;
  box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.sidebar-controls button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
}

.sidebar-controls button:hover {
  background: #555;
  border-radius: 5px;
  padding: 5px;
  transition: background 0.3s, transform 0.3s;
}

.toggle-button {
  position: fixed; /* Positioniert den Button immer oben links */
  top: 11vh; /* Abstandsregelung von oben */
  left: 1vh; /* Abstandsregelung von links */
  width: 3vh;
  height: 3vh;
  background: linear-gradient(99deg, rgb(255, 166, 0) 14.7%, rgb(255, 99, 97) 73%);
  border: none;
  border-radius: 30%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Animation beim Klicken */
  z-index: 1001; /* Stellt sicher, dass der Button über der Sidebar bleibt */
}

.toggle-button:active {
  transform: scale(0.9); /* Verkleinert den Button beim Klicken */
}

.toggle-button .fa-bars {
  font-size: 20px;
  color: white;
}