@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap');

hml,
body {
  font-family: "Baloo Thambi 2", system-ui;
}

.app {
  height: 100vh;
  width: 100%;
}

.content {
  transition: margin-left 0.3s ease-in-out, margin-top 0.3s ease-in-out;
  margin-left: 36vh;
  margin-top: 14vh;
}

.sidebar-closed {
  margin-left: 6vh;
}


/* Stile für den Scroll-to-Top-Button */
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: linear-gradient(99deg, rgb(255, 166, 0) 14.7%, rgb(255, 99, 97) 73%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  /* Standardmäßig unsichtbar */
  z-index: 1009;
  visibility: hidden;
  /* Button nicht sichtbar */
}

.scroll-to-top.show {
  opacity: 1;
  /* Sichtbar bei Scroll */
  transform: translateY(0);
  visibility: visible;
  /* Button sichtbar */
}

.scroll-to-top .fa-arrow-up {
  font-size: 24px;
  color: white;
}

.scroll-to-top:active {
  transform: scale(0.9);
}

/* Darkmode Style START */
.dark-mode html,
.dark-mode body,
.dark-mode .app {
  background-color: #000000;
  color: #ffffff;
}

.dark-mode .content h1,
.dark-mode .content h2,
.dark-mode .content h3,
.dark-mode .content h4,
.dark-mode .content h5,
.dark-mode .content h6,
.dark-mode .content caption {
  color: #0026B9;
}

/* Darkmode Style END */



/* Darkmode Style START */
.dark-mode .sidebar {
  background: #000000;
  border-right: 1px solid #000000;
}

.dark-mode .menu-item a,
.dark-mode .submenu-item a {
  color: #ffffff;
}

.dark-mode .menu-item a:hover,
.dark-mode .submenu-item a:hover {
  background-color: #0026B9;
  color: #ffffff;
}

/* Darkmode Style END */